<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Status: </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <!-- <a 
                            class="nav-link dropdown-toggle" 
                            href="#" 
                            id="navbarDarkDropdownMenuLink" 
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                  Status
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Pending</a></li>
                  <li><a class="dropdown-item" href="#">Started</a></li>
                  <li><a class="dropdown-item" href="#">In Progress</a></li>
                  <li><a class="dropdown-item" href="#">Completed</a></li>
                </ul> -->

              <select class="form-select">
                <option value="all">Show All</option>
                <option value="pending">Pending</option>
                <option value="started">Started</option>
                <option value="in_progress">In-Progress</option>
                <option value="completed">Completed</option>
              </select>
            </li>
          </ul>
        </div>
        <a href="/add">
          <button type="button" class="btn btn-success">Add Task</button>
        </a>
      </div>
    </nav>

    <div>
      <table class="table table-striped">
        <thead>
          <tr style="vertical-align: middle">
            <th>Name</th>
            <th>Desription</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th colspan="2" style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t : ${tasks}">
            <td th:text="${#strings.capitalize(t.name)}"></td>
            <td th:text="${#strings.capitalize(t.description)}"></td>
            <td th:text="${#dates.format(t.dueDate, 'dd MMM yyyy')}"></td>
            <td th:text="${#strings.capitalize(t.priority)}"></td>
            <td
              th:text="${#strings.capitalize(t.status).replaceAll('[^A-Za-z0-9\-]', ' ')}"
            ></td>
            <td th:text="${#dates.format(t.createdAt, 'dd MMM yyyy')}"></td>
            <td th:text="${#dates.format(t.updatedAt, 'dd MMM yyyy')}"></td>
            <td>
              <a
                class="btn btn-warning btn-sm"
                th:href="@{/update/{id}(id=${t.id})}"
                >Update</a
              >
            </td>
            <td>
              <form action="/delete" method="post">
                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/delete/{id}(id=${t.id})}"
                  >Delete</a
                >
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
