<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Filter by Status: </a>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <form method="post" action="/filter">
              <select class="form-select" th:name="filter">
                <option th:text="${#strings.capitalize(filter).replaceAll('[^A-Za-z0-9\-]', ' ')}" selected disabled hidden></option>
                <option th:value="all">Show All</option>
                <option th:value="pending">Pending</option>
                <option th:value="started">Started</option>
                <option th:value="in_progress">In progress</option>
                <option th:value="completed">Completed</option>
              </select>
          </ul>
          <button class="btn btn-secondary" type="submit">Go</button>
        </form>
        </div>
        <a href="/add">
          <button type="button" class="btn btn-success">Add Task</button>
        </a>
      </div>
    </nav>

    <div>
      <table class="table table-striped">
        <thead>
          <tr style="vertical-align: middle">
            <th>Name</th>
            <th>Desription</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th colspan="2" style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="t : ${tasks}">
            <td th:text="${#strings.capitalize(t.name)}"></td>
            <td th:text="${#strings.capitalize(t.description)}"></td>
            <td th:text="${#dates.format(t.dueDate, 'dd MMM yyyy')}"></td>
            <td th:text="${#strings.capitalize(t.priority)}"></td>
            <td
              th:text="${#strings.capitalize(t.status).replaceAll('[^A-Za-z0-9\-]', ' ')}"
            ></td>
            <td th:text="${#dates.format(t.createdAt, 'dd MMM yyyy')}"></td>
            <td th:text="${#dates.format(t.updatedAt, 'dd MMM yyyy')}"></td>
            <td>
              <a
                class="btn btn-warning btn-sm"
                th:href="@{/update/{id}(id=${t.id})}"
                >Update</a
              >
            </td>
            <td>
              <form action="/delete" method="post">
                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/delete/{id}(id=${t.id})}"
                  >Delete</a
                >
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
